<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774297545230-ijmr29li5hla2dochnrgb0a6m397e3vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774297545230-ijmr29li5hla2dochnrgb0a6m397e3vv</string>
	<key>API_KEY</key>
	<string>AIzaSyDyOWdUAbgY-Ib6_elaubR3cI6brVjuwhI</string>
	<key>GCM_SENDER_ID</key>
	<string>774297545230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riffmatch.riffmatch</string>
	<key>PROJECT_ID</key>
	<string>riffmatch-c7463</string>
	<key>STORAGE_BUCKET</key>
	<string>riffmatch-c7463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774297545230:ios:d9e56d20de8fc774912a5f</string>
</dict>
</plist>